allow audioserver sysfs:file {open read};
allow audioserver kernel:system {module_request };
allow audioserver rootfs:lnk_file {getattr };
allow audioserver debugfs:file {open write };
